.account-wrapper{
    width: 80%;
    margin: 10%;
    text-align: center;
    border: 1px #FD2D01 solid;
}

.account-wrapper-name{
    color: #FD2D01;
    font-size: large;
    font-weight: bold;
}

.account-delete-btn{
    margin: 25px 0px !important;
    width: 100% !important;
}

img{
    width: 150px;
    height: 150px;
}