.create-comment-wrapper{
    margin: 5%;
    text-align: center;
}
.create-comment-form{
    display: flex;
    flex-direction: column;
    margin: 5%;
    text-align: center;
}
.create-comment-btn{
    margin: 5%;
    width: 25%;
    background-color: #FD2D01;
    color: white;
    font-weight: bold;
    border: none;
}