.getpost-wrapper{
    width: 80%;
    margin: 10%;
    text-align: center;
    border: 1px #FD2D01 solid;
};
.getpost-footer{
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-around !important;
};
.getpost-delete-btn{
    margin: 25px 0px !important;
    width: 100% !important;
    background-color: #FD2D01;
    color: white;
    font-weight: bold;
    font-size: larger;
    border: none;
}