.header-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header-logo{
    text-align: left;
    width: 20%;
}
nav{
    border-bottom: 5px #FD2D01 solid !important;
}
.header-link{
    font-size: large;
    font-weight: bold !important;
    margin: 10% 5% 5% 5% !important;
}
a{
    color: #FD2D01 !important;
    text-decoration: none !important;
    font-weight: bold;
}
