.home-header{
    text-align: center;
}

.home-global{
    width: 80%;
    margin: auto;
    justify-content: space-around !important;
}

.home-link{
    color: #FD2D01 !important;
    font-size: larger !important;
    font-weight: bold !important;
}

