.modifycomment-wrapper{
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.modifycomment-text{
    width: 100% !important;
    border: none;
    background-color: #ead1cc;
}

.modifycomment-btn{
    margin: 25px 0px !important;
    width: 100% !important;
    background-color: #FD2D01;
    color: white;
    font-weight: bold;
    font-size: larger;
    border: none;
}

.modifycomment-footer{
    display: flex;
    flex-direction: column;
    padding: 5%;
}

a{
    color: white;
    margin: auto;
}
