.post-wrapper-global{
    border: 1px #FD2D01 solid;
    margin: 2%;
    text-align: center;
}

.post-wrapper{
    display: flex;
    flex-direction: column;
}

.post-wrapper-link{
    margin: 0% !important;
    text-align: center;
}


